.wrapper {
    margin: 5px;
    width: auto;
}

body {
    margin: 0;
    font-size: 12pt;
    color: #666666;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar {
    background: #383E4C;
    text-align: center;
}

.navbar button {
    font-size: 20px;
    margin: 10px 10px 20px 10px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
}

.navbar button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.section1, .section4 {
    height: 700px;
    background-image: url('./img/bg-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 {
    height: 700px;
    background-image: url('./img/bg-1.jpg');
}

.section4 {
    height: auto;
    background-image: url('./img/bg-2.jpg');
    text-align: center;
    color:white;
}

.section7 {
    height: auto;
    background-image: url('./img/bg-3.jpg');
    text-align: center;
}

.section7 h1 {
    color: white;
    margin: 0;
    padding: 50px 0;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.section4 h1 {
    margin: 0;
    padding: 50px 0;
    font-size: 40px;
    text-shadow: 2px 2px #aaaaaa;
}

.section4 p {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 70px;
    font-size: 20px;
}

.section5, .section6 {
    text-align: center;
}

.section5 p {
    text-align: left;
}

.section1 {
    color: white;
    text-align: center;
}

.section1 h1 {
    margin: 0;
    padding-top: 250px;
    font-size: 70px;
    text-shadow: 2px 2px black;
}

.section1 h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.section1 h5  {
    margin-top: 0;
    font-size: 20px;
}

.card-normal img, .card-wide img {
    display: block;
}

.section2, .section3 {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section2 h3, .section2 p, .section3 p, .section6 h3, .section6 p {
    text-align: left;
}

.section3 h3 {
    text-align: center;
}

.card-wrapper {
    display: inline-block;
    margin: 0 auto;
}

.card-slim {
    float: left;
    margin: 70px 17px 0 15px;
    padding: 0 0 20px 0;
    background: #F2F2F2;
    height: auto;
    min-height: 490px;
    width: 260px;
}

.card-normal {
    float: left;
    margin: 70px 17px 0 15px;
    padding: 0 0 20px 0;
    background: #F2F2F2;
    height: auto;
    width: 360px;
}

.card-wide {
    float: left;
    margin: 70px 17px 25px 15px;
    padding: 0 0 20px 0;
    background: #F2F2F2;
    height: auto;
    min-height: 555px;
    width: 555px;
}

.card-ultra-wide {
    float: left;
    margin: 70px 17px 0 15px;
    padding: 0 0 20px 0;
    background: #F2F2F2;
    height: auto;
    width: 1140px;
}

.card-normal h3,
.card-normal p,
.card-wide h3,
.card-wide p,
.card-slim h3,
.card-slim p,
.card-ultra-wide h3,
.card-ultra-wide p {
    padding: 5px 20px 10px 20px;
}

.light-gray-background {
    background: rgba(242, 242, 242, 0.4);
    color: black;
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 30px;
    border: none;
}

.contact-panel {
    width: 50%;
    margin: 0 auto;
}

.form-wrapper {
    display: inline-block;
    margin: 0 auto;
    max-width: 55%;
}

.form-left-column {
    float: left;
    margin: 0 auto;
    padding: 0 ;
    width: 45%;
    text-align: left;
}

.form-right-column {
    float: right;
    margin: 0 auto;
    padding: 0;
    width: 45%;
}

form input {
    padding-top: 20px;
    padding-left: 0;
    margin-top: 20px;
    margin-left: 0;
    width: 90%;
}

form textarea {
    padding-top: 20px;
    padding-right: 0;
    margin-top: 20px;
    margin-right: 0;
    width: 80%;
    height: 150px;
}

button {
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 30px;
    border: none;
}
.right-justify {
    text-align: right;
    margin: 0 100px;
}

.green-text {
    color: #178A27;
}

.button-green {
    background: #178A27;
    color: white;
}

.blue-text {
    color: #1686C1;
}

.details-button {
    background: #1686C1;
    color: white;
}

.button-red {
    background: #C9302C;
    color: white;
}

.button-white {
    background: #ffffff;
    color: #666666;
    border: 1px solid #cccccc;
}

.button-white:hover {
    background: rgba(0, 0, 0, 0.08);
}